body{
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Template eleccion de modos*/
#contenido_modos {
	width: 100%
	max-width: 1200px;
	height: 425px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

#contenido_modos .card {
	width: 330px;
	height: 380px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}

#contenido_modos .card:hover {
	transform: translateY(-15px);
	box-shadow: 0, 12px 16px rgba(0,0,0,0.2);
}

#contenido_modos .card img{
	width: 330px;
	height: 220px;
}

#contenido_modos .card h3{
	font-weight: 600;
}

#contenido_modos .card p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300px;
}

#contenido_modos .card a{
	font-weight: 500;
	text-decorati
on: none;
	color: #3498db;
}

.page-footer{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.logo{
    width: 3rem;
}