{% extends 'base.html' %}

{% block content %}
<br>
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Insertar estudiante</h3>
        </div>
        <div class="card-body">
            <form action="/insertar" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="nombre" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="carne" class="form-control" placeholder="carne">
                </div>
                <div class="form-group">
                    <input type="text" name="dpi" class="form-control" placeholder="dpi">
                </div>
                <div class="form-group">
                    <input type="text" name="semestre" class="form-control" placeholder="semestre">
                </div>
                <div class="form-group">
                    <input type="text" name="año" class="form-control" placeholder="año">
                </div>
                <div class="form-group">
                    <input type="text" name="grupo" class="form-control" placeholder="grupo">
                </div>
                <div class="form-group">
                    <input type="text" name="correo" class="form-control" placeholder="correo">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Insertar
                    </button>
                </div>
            </form>
            <div id="resultado_insertar"></div>
        </div>
    </div>
</div>

{% endblock  %}